:root {
  //Colors
  --white: #fff;
  --dark-blue: #0f244e;

  --wave-light: #00d2ff;
  --wave-dark: #0072ff;

  --editor-tab: #222332;
  --editor-tab-color: #e2c08d;
  --editor-contrast: #f7768e;
  --editor-bg: #1a1b26;
  --editor-text: #accfd7;
  --editor-number: #3e4b50;
  --editor-highlight-line: #202437;
  --editor-console: #15161f;

  //Fonts
  --f-small-s: 0.875rem;
  --f-small-m: 1rem;
  --f-small-l: 1.125rem;
  --f-regular-s: 1.25rem;
  --f-regular-m: 1.375rem;
  --f-regular-l: 1.5rem;
  --f-medium-s: 1.625rem;
  --f-medium-m: 1.75rem;
  --f-medium-l: 1.875rem;
  --f-large-s: 2rem;
  --f-large-m: 2.125rem;
  --f-large-l: 2.25rem;
}
