header {
  height: 5rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  & > .fixed {
    height: 5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 0 4rem;

    & > .container {
      height: 100%;
      width: 100%;
      max-width: 75rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;
        margin-left: -0.5rem;
        cursor: pointer;

        svg {
          height: 2rem;
          width: 2rem;
          fill: var(--dark-blue);

          margin-right: 0.75rem;

          transform: scaleX(-1);
        }

        strong {
          font-family: "Rubik", sans-serif;

          font-size: var(--f-regular-l);
          line-height: var(--f-regular-l);
          font-weight: 300;
          color: var(--dark-blue);
        }
      }

      .lang {
        height: 2.75rem;
        width: 7.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        margin-right: 1rem;

        button {
          height: 2.75rem;

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          background-color: transparent;
          padding: 0.5rem 1rem;
          border-bottom: 0.125rem solid transparent;

          font-size: var(--f-small-m);
          line-height: var(--f-small-m);
          font-weight: 500;
        }

        & > button {
          justify-content: space-between;
          padding: 0.5rem 1rem;

          height: 2.75rem;
          width: 100%;

          transition: border-color 0.2s ease-in-out;

          &:hover,
          &:focus {
            border-bottom-color: var(--dark-blue);
          }

          &.active {
            border-bottom-color: var(--dark-blue);

            svg {
              transform: translateY(0.125rem) rotateX(180deg);
            }
          }

          svg {
            height: 1.25rem;
            transform: translateY(0.125rem);
            flex-shrink: 0;

            transition: transform 0.2s ease-in-out;
          }
        }

        &:hover .lang-menu button {
          border-color: var(--dark-blue);
        }

        .lang-menu {
          transform: scaleY(0);
          transform-origin: top;

          position: absolute;
          top: 2.75rem;

          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;

          background-color: var(--white);
          transition: transform 0.2s ease-in-out;

          button {
            width: 100%;

            border: 0.125rem solid transparent;
            border-top: none;

            transition-property: background-color, color, border-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &:hover {
              transition: none;
              background-color: var(--dark-blue);
              color: var(--white);
            }
          }

          &.open {
            transform: scaleY(1);
          }
        }
      }

      .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            height: 2.75rem;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            a {
              height: 2.75rem;

              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              padding: 0.5rem 1rem;
              border-bottom: 0.125rem solid transparent;

              font-size: var(--f-small-m);
              line-height: var(--f-small-m);
              font-weight: 500;

              padding: 0.5rem 1rem;
              margin-left: 0.5rem;
              border-bottom: 0.125rem solid transparent;

              transition: border-color 0.2s ease-in-out;

              &:hover,
              &:focus {
                transition: none;
                border-bottom-color: var(--dark-blue);
              }
            }
          }

          .contact a {
            padding: 0.75rem 2rem;

            margin-left: 1.5rem;

            border: 0.125rem solid var(--dark-blue);
            border-radius: 0.5rem;
            background-color: var(--dark-blue);
            color: var(--white);

            transition-property: background-color, color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &:hover,
            &:focus {
              background-color: var(--white);
              color: var(--dark-blue);
            }
          }
        }
      }
    }
  }
}
