.hero {
  height: calc(100vh - 5rem);
  width: 100%;

  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  & > .container {
    width: 100%;
    padding: 0 4rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    .inner-container {
      height: 100%;
      width: 100%;
      max-width: 75rem;

      margin-top: -1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;
      z-index: 10;

      .text {
        margin-top: -1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 20;

        p {
          font-size: var(--f-regular-l);
          line-height: var(--f-large-s);
          margin-bottom: 0.5rem;
          text-transform: capitalize;
        }

        h1 {
          font-size: 4.5rem;
          line-height: 5rem;
          margin-bottom: 0.5rem;
        }

        & > span {
          font-size: var(--f-regular-s);
          line-height: var(--f-medium-m);
          margin-bottom: 2rem;
        }

        .cta {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          margin-bottom: 1rem;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 3rem;
            padding: 0 1rem;

            border: 0.125rem solid var(--dark-blue);
            border-radius: 0.5rem;
            background-color: transparent;

            cursor: pointer;

            transition-property: color, background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            svg {
              height: 1.5rem;
              margin-right: 0.5rem;
              fill: #fff;
              transform: translateY(-0.125rem);
              transition: fill 0.2s ease-in-out;
            }

            span {
              font-weight: 500;
              font-size: var(--f-small-m);
              line-height: var(--f-small-m);
              transition: color 0.2s ease-in-out;
            }

            &:hover,
            &:focus {
              transition: none;
              background-color: var(--dark-blue);

              span {
                transition: none;
                color: var(--white);
              }
            }

            &:first-child {
              margin-right: 1rem;
              background-color: var(--dark-blue);
              color: var(--white);

              span {
                color: var(--white);
                margin-right: 0.5rem;
              }

              &:hover,
              &:focus {
                background-color: transparent;
                color: var(--dark-blue);

                svg {
                  transition: none;
                  fill: var(--dark-blue);
                }

                span {
                  transition: none;
                  color: var(--dark-blue);
                }
              }
            }

            &:nth-child(2) {
              svg {
                margin-left: 0.5rem;
                margin-right: 0;
                transform: initial;
                fill: var(--dark-blue);

                path {
                  transition: stroke 0.2s ease-in-out;
                }
              }

              &:hover,
              &:focus {
                svg path {
                  transition: none;
                  stroke: var(--white);
                }
              }
            }
          }
        }

        .social {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.5rem;
            margin-right: 1rem;
            transition: background-color 0.2s ease-in-out;

            svg {
              height: 1.5rem;
              width: 1.5rem;
              fill: var(--dark-blue);

              transition: fill 0.2s ease-in-out;
            }

            &:hover,
            &:focus {
              transition: none;
              background-color: var(--dark-blue);

              svg {
                transition: none;
                fill: var(--white);
              }
            }
          }
        }
      }

      .hypno {
        position: relative;
        z-index: 20;
        width: var(--hypno-width);
        height: var(--hypno-width);
      }
    }
  }
}
