.hero {
  height: 100%;
  min-height: 100vh;
  width: 100%;

  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  .container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      z-index: 20;

      p {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }

      h1 {
        font-size: 72px;
        line-height: 80px;
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 2rem;
      }

      .downloads {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 1rem;

        button {
          padding: 1rem;
          border: 2px solid var(--black);
          background-color: transparent;

          cursor: pointer;
          font-weight: 500;

          transition-property: color, background-color;
          transition-duration: 0.2s;
          transition-timing-function: ease-in-out;

          &:hover {
            transition: none;
            background-color: var(--black);
            color: var(--white);
          }

          &:first-child {
            margin-right: 1rem;
            background-color: var(--black);
            color: var(--white);

            &:hover {
              background-color: transparent;
              color: var(--black);
            }
          }
        }
      }

      .social {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 0.5rem;
          margin-right: 1rem;
          transition: background-color 0.2s ease-in-out;

          svg {
            height: 24px;
            width: 24px;

            transition: fill 0.2s ease-in-out;
          }

          &:hover {
            transition: none;
            background-color: var(--black);

            svg {
              transition: none;
              fill: var(--white);
            }
          }
        }
      }
    }

    .canvas {
      position: relative;
      z-index: 20;
      width: var(--hypno-width);
      height: var(--hypno-width);
    }

    .ocean {
      height: 5%;
      width: 100%;

      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--wave-dark);

      .wave {
        background: url("../../images/wave.svg") repeat-x;
        position: absolute;
        top: -198px;
        width: 6400px;
        height: 198px;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);

        &:nth-of-type(2) {
          top: -175px;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
            swell 7s ease -1.25s infinite;
          opacity: 1;
        }
      }

      @keyframes wave {
        0% {
          margin-left: 0;
        }
        100% {
          margin-left: -1600px;
        }
      }

      @keyframes swell {
        0%,
        100% {
          transform: translate3d(0, -25px, 0);
        }
        50% {
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }
}
